{% load static %}
<html>
    <head>
        <title>University of Birmingham blog</title>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>


    <body>
    <div class="page-header">
<div class="page-header-background"></div>
<div class="content12">


<div class="top-menu">
<a href="{% url 'contact' %}" class="myButton8">Contact us</a>
</div>

 <a href="{% url 'post_list' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>




<a href="{% url 'kr_post_list' %}" class="myButtonKr">Switch to 한국어</a>

<a href="{% url 'event_list' %}" class="myButton6"> View events</a>

 <a href="{% url 'post_new' %}" class="myButton6"> New post</a>


        <a href="{% url 'event_new' %}" class="myButton6"> New event</a>





     {% if user.is_authenticated %}
        
       

       


        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

        <p class="top-menu" id="hello-user">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
      {% endif %}

        <h1><a href="/">University of Birmingham blog</a></h1>



</div>
</div>


    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>