<html>
    <head>
        <title>Vlad's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vlad's Blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2020, 15:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Random text.</p>
        </div>

        <div>
            <p>published: 16.05.2020, 15:11</p>
            <h2><a href="">My second post</a></h2>
            <p>Some other random text.</p>
        </div>
    </body>
</html>